.header-class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 10px;
  }

  .header-class nav{
      padding-right: 40px;
  }
  
  .header-class img{
      height: 50px;
      padding-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      
  }
  
  .header-class ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: baseline;
  }
  
  .header-class li {
    margin-left: 3rem;
  }
  
  .header-class a {
    text-decoration: none;
    font-size: 24px;
    color: #FDFDFD;
  }
  
  .header-class a:hover,
  .header-class a:active,
  .header-class a.active {
    color: white;
    font-weight: 480;
  }

  .header-class-hero a{
    color: #0F1E25;
  }

  .header-class-hero a:hover,
  .header-class-hero a:active,
  .header-class-hero a.active {
    color: #0F1E25;
    font-weight: 480;
  
  }