.radio-button-wrapper {
    color: white;
    font-weight: 550;
    margin: 2% 0 3% 0;
    font-size: 1.2em;
}

.radio-button-wrapper:not(:first-child){
    margin-left: 30px;
}

.radio-button-wrapper .radio-btn:focus{
    outline: none;
}

.form-component.radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-component.radio > span {
    display: flex;
}

.radio-button-wrapper > label {
    margin-left: 10px;
}