.btns {
    text-align: center;
    width: 260px;
    height: 70px;
    font-size: 36px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.btns-joinus:hover {
    background-color: rgb(63, 163, 35);
    color: #232323;
}

.btns-joinus {
    background-color: #73bf5b;
    color: #2d2d2d;
    border: 1px solid #68b251;
}

.btns-card {
    font-size: 30px;
    width: 200px;
    height: 45px;
    background-color: #C4C4C4;
    color: #383838;
}

.btns-card:hover {
    font-size: 32px;
    background-color: #9b9b9b;
    color: #232323;
}

.btns-submit {
    font-size: 20px;
    height: 50px;
    width: 100%;
    background-color: #C8E690;
    font-weight: 550;
    color: #383838;
    margin-top: 2%;
    border: none;
}

.btn-hero {
    background-color: #CFE594;
    height: 65px;
    width: 230px;
    font-size: 36px;
    color: #0B3835;

}

.btn-donate {
    background-color: #13463D;
    color: #C8E690;
    border: none;
    box-shadow: none;
}

.btn-donate-form {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.btn-close-form{
    background-color: white;
    border: 2px solid #04AA6D;
    color: #04AA6D;
}

.btn-save{
    font-size: 1.05em;
    width: 70px;
    height: 40px;
    border: 1px solid #076c47;
    background-color: #04AA6D;
    color: white;
    box-shadow: none;
}