.progress-container{
    max-width:100%;
    background-color:#C8E690;
    clip-path: polygon(100% 20%, 100% 100%, 0 80%, 0 0);
    padding: 200px;
}

.statistics{
    background-color: #13463D;
    width: 470px;
    height: 540px;
    padding: 30px;
    color: #C8E690;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 15%;
}

.progress-container h2{
    font-size: 48px;
    font-weight: 500;
    color: #13463D;
}

.statistics h6{
    font-size: 24px;
    font-weight: 400;
    margin-top: 90px;
}

.statistics h3{
    font-size: 64px;
    font-weight: 700;
    
}