.tree-container{
    background-color: #0F1E25;
}

.hero-tree{
    background-image: url("../static/treewallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    max-width: 100%;
    height: 800px;
}

.hero-tree h1{
    font-style: italic;
    font-size: 64px;
    color: #C8E690;
}

.hero-tree h3{
    font-weight: 300;
    font-size: 32px;
    color: #FFF;
}

.hero-text{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    width: 95%;
    height: 600px;
    
}

.prog {

    
}